body {
    background-image: url(../img/background.jpg);
    background-repeat: repeat-x;
    font-family: Tahoma;
    font-size: 0px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.main {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background-color: white;
}

.gradient1 {
    position: absolute;
    left: -6px;
    top: 0px;
    bottom: -3px;
    right: -6px;
    z-index: -1;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(2%, rgba(0,0,0,1)), color-stop(98%, rgba(0,0,0,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 2%, rgba(0,0,0,1) 98%, rgba(255,255,255,0) 100%);
}

.logo {
    float: left;
    margin-top: 11px;
    margin-left: 27px;
}

.contacts {
    float: right;
    width: 130px;
    margin-right: 33px;
    margin-top: 7px;
    color: #128aa7;
    font-size: 12px;
    line-height: 140%;
}

.contacts a {
    text-decoration: inherit;
    color: inherit;
}

.contacts p:first-child {
    margin-bottom: 5px;
    font-weight: bolder;
}

header .first-section {
    position: relative;
}

.countries {
    position: absolute;
    right: 27px;
    bottom: 8px;
    list-style: none;
}

.countries li {
    float: left;
}

.countries li a {
    display: block;
    width: 57px;
    padding-top: 43px;
    color: #128aa7;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 10px;
}

li.india a {
    background-image: url(../img/i_flag.png);
}
li.nepal a {
    background-image: url(../img/n_flag.png);
}
li.tibet a {
    background-image: url(../img/t_flag.png);
}
li.bhutan a {
    background-image: url(../img/b_flag.png);
}
li.sri-lanka a {
    background-image: url(../img/s_flag.png);
}
li.maldives a {
    background-image: url(../img/m_flag.png);
}

.menu {
    display: flex;
    justify-content: space-around;
    height: 34px;
    padding: 0px 35px;
    background-image: url(../img/menu-bg.png);
    color: white;
    list-style: none;
    font-size: 14px;
    font-weight: normal;
}

.menu a {
    text-decoration: inherit;
    color: inherit;
}

.menu li {
    position: relative;
    padding: 4px;
    line-height: 22px;
}

.submenu:after {
    content: ' ';
    width: 15px;
    height: 16px;
    float: right;
    background: url(../img/triangle.png) 6px 8px;
    background-repeat: no-repeat;
}

/*Выпадающие пункты*/
.submenu ul {
    position: absolute;
    top: 30px;
    left: -9999px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 10px;
    color: white;
    background-color: #303030;
    list-style: none;
    font-size: 14px;
    white-space: nowrap;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
}

.submenu ul li {
    height: 16px;
    font-weight: normal;
}

.menu li:hover ul {
    left: 0px;
}

/*Колонки контента*/
.content {
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    max-height: 542px;
    color: #424c43;
    text-align: center;
}

.left-column, .right-column {
    flex-basis: 210px;
    max-height: inherit;
    overflow-y: auto;
    background-color: #edeef0;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    font-size: 14px;
}

.center-column {
    flex-basis: 580px;
    max-height: inherit;
    overflow-y: auto;
    background-color: white;
}

.content h2 {
    margin-top: 3px;
    margin-bottom: 3px;
    color: #424c43;
    font-size: 18px;
    font-weight: 500;
}

.content p {
    padding-left: 15px;
    text-align: left;
    line-height: 171%;
    letter-spacing: 0.17px;
    padding-bottom: 10px;
}

body>p {
    color: white;
    height: 26px;
    padding-top: 8px;
    font-size: 12px;
    text-align: center;
}
