@charset "UTF-8";
/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b,
u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /* обнуляем отступы и убираем бордюры */
  vertical-align: baseline;
  /* приводим все к одной базовой линии */
  background: transparent;
  /* чтобы не проскакивали левые фоны, установленные по умолчанию */
  font-size: 100%;
  /* размер шрифта всем одинаковый */ }

a {
  /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

table {
  /* устраняем отступы между ячейками таблицы */
  border-collapse: collapse;
  border-spacing: 0; }

td, td img {
  vertical-align: top;
  /* возвращаем привычное вертикальное выравнивание */ }

input, select, button, textarea {
  margin: 0;
  /* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
  font-size: 100%;
  /* делаем размер шрифтов везде одинаковым */ }

input[type="text"], input[type="password"], textarea {
  padding: 0;
  /* убираем внутренние отступы для текстовых полей */ }

input[type="checkbox"] {
  /* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
  vertical-align: bottom; }

input[type="radio"] {
  vertical-align: text-bottom; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

/* --------------- /reset.css --------------- */
/* --------------- базовые настройки ---------*/
html {
  overflow-y: scroll;
  /* всегда показываем вертикальную полосу прокрутки  */ }

body {
  line-height: 1;
  background: #fff;
  color: #000;
  text-align: left;
  font: 14px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  /* используем безопасные шрифтовые CSS стеки */ }

input, select, button, textarea {
  /* чтобы шрифт был такой же как и везде */
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; }

label, input[type="button"], input[type="submit"], button {
  cursor: pointer;
  /* курсор в виде руки для всех кликабельных элементов форм */ }

a, a:visited {
  /* порядок правил для ссылок имеет значение */
  color: #287fc3;
  text-decoration: underline; }

a:hover {
  color: #287fc3;
  text-decoration: none; }

a:focus, a:active {
  color: #287fc3;
  text-decoration: underline; }

/* --------------- /базовые настройки ---------*/
.clearfix:after {
  content: "";
  clear: both;
  display: block; }

/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/
.coin-slider {
  overflow: hidden;
  zoom: 1;
  position: relative; }

.coin-slider a {
  text-decoration: none;
  outline: none;
  border: none; }

.cs-buttons {
  font-size: 0px;
  padding: 10px;
  float: left;
  margin-top: -68px; }

.cs-buttons a {
  margin-left: 15px;
  height: 10px;
  width: 10px;
  float: left;
  border: 3px solid #FFF;
  background-color: #FFF;
  text-indent: -1000px; }

.cs-buttons .cs-active {
  background-color: #B8C4CF;
  background-color: #001d1d; }

.cs-title {
  width: 545px;
  padding: 10px;
  background-color: #000000;
  color: #FFFFFF; }

.cs-prev,
.cs-next {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0px 10px;
  display: none; }

.wrapper {
  width: 100%;
  background-color: #fff; }

.header {
  width: 1160px;
  margin: 26px auto;
  margin-bottom: 36px;
  padding: 0 40px; }

.logo {
  float: left;
  position: relative;
  width: 205px;
  height: 37px;
  background-image: url(../img/logo.png); }
  .logo a {
    display: inline-block;
    width: 100%;
    height: 100%; }

.socials {
  float: right;
  margin-top: 12px;
  cursor: default; }
  .socials span {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 6.3px;
    background-image: url("../img/sprite.png");
    cursor: pointer; }
  .socials .socials__fb {
    background-position: 0 0; }
  .socials .socials__twitter {
    background-position: -16px 0; }
  .socials .socials__rss {
    background-position: -32px 0; }
  .socials .socials__li {
    background-position: -48px 0; }
  .socials .socials__skype {
    background-position: -64px 0; }
  .socials .socials__fb:hover {
    background-position: 0 -16px; }
  .socials .socials__twitter:hover {
    background-position: -16px -16px; }
  .socials .socials__rss:hover {
    background-position: -32px -17px; }
  .socials .socials__li:hover {
    background-position: -48px -17px; }
  .socials .socials__skype:hover {
    background-position: -64px -16px; }

.menu {
  width: 1160px;
  margin: 26px auto;
  background-color: #2a2d32;
  line-height: 56px; }
  .menu .menu__item {
    float: left;
    box-sizing: border-box;
    color: #fff;
    border-right: 1px solid #151515; }
  .menu a {
    display: inline-block;
    padding: 0 39px;
    color: inherit;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 14px;
    text-decoration: none; }
  .menu .menu__item--selected {
    background-color: #248cec; }
  .menu .menu__item:hover {
    color: #f4b60d; }

.search {
  float: right;
  position: relative;
  margin-right: 10px; }
  .search input[type="search"]::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.15); }
  .search input[type="search"]::-moz-placeholder {
    color: rgba(255, 255, 255, 0.15); }
  .search input {
    width: 240px;
    padding-left: 10px;
    padding-right: 30px;
    outline: none;
    color: #fff;
    border: 1px solid #181a1d;
    background-color: #35383c;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 38px; }

.search__button {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 10px;
  background-image: url("../img/sprite.png");
  background-position: -80px -16px;
  cursor: pointer; }

#coin-slider {
  width: 1160px;
  margin: 26px auto;
  margin-top: 15px; }

.info {
  width: 1160px;
  margin: 26px auto;
  height: 260px; }
  .info .info__column {
    float: left;
    width: 386px;
    font-family: Ubuntu, sans-serif;
    font-weight: 500; }
    .info .info__column .info__number {
      float: left;
      width: 120px;
      color: rgba(24, 26, 29, 0.1);
      font-size: 90px; }
    .info .info__column .info__content {
      float: left;
      width: 266px;
      margin-top: 20px;
      color: #2a2b2e;
      font-size: 13px; }
      .info .info__column .info__content .info__image {
        width: 32px;
        height: 32px;
        background-image: url("../img/sprite.png"); }
      .info .info__column .info__content .info__image--im1 {
        background-position: -192px 0; }
      .info .info__column .info__content .info__image--im2 {
        background-position: -160px 0; }
      .info .info__column .info__content .info__image--im3 {
        background-position: -128px 0; }
      .info .info__column .info__content .info__header {
        margin-top: 13px;
        font-size: 20px; }
      .info .info__column .info__content .info__text {
        overflow-y: hidden;
        width: 256px;
        height: 77px;
        margin-top: 19px;
        color: #8a8a8a;
        font-family: Arial, sans-serif;
        line-height: 20px; }
      .info .info__column .info__content .info__read-more {
        position: relative; }
        .info .info__column .info__content .info__read-more a {
          color: inherit;
          text-decoration: none; }
        .info .info__column .info__content .info__read-more a:hover {
          color: #248cec;
          cursor: pointer; }
      .info .info__column .info__content .info__read-more:after {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        margin-left: 5px;
        background-image: url("../img/sprite.png");
        background-position: -96px -16px; }

.services-row {
  background-color: #2a2d32; }

.services {
  width: 1160px;
  margin: 26px auto;
  height: 500px;
  color: #fff;
  font-family: Ubuntu, sans-serif;
  font-weight: 500; }
  .services .services__header {
    padding: 43px 0;
    font-size: 24px; }
  .services ul {
    list-style: none;
    margin-top: 8px;
    margin-left: -40px; }
  .services .services__item {
    float: left;
    position: relative;
    margin-left: 40px;
    cursor: pointer; }
    .services .services__item .services__link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 2; }
    .services .services__item .services__label {
      margin-top: 28px;
      text-align: center;
      font-size: 16px; }
  .services .services__item:hover {
    color: #f4b60d; }
  .services .services__item:hover:after {
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
    top: 0;
    background-color: rgba(36, 140, 236, 0.9); }
  .services .services__item:hover:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: 112.5px;
    left: 112.5px;
    background-image: url("../img/sprite.png");
    background-position: -224px 0;
    z-index: 1; }

.content-row {
  margin-top: -26px;
  padding-bottom: 52px;
  background-color: #f7f7f7; }

.content {
  width: 1160px;
  margin: 26px auto;
  padding-top: 26px;
  font-family: Ubuntu, sans-serif;
  font-weight: 500; }
  .content .content__section {
    float: left;
    width: 570px;
    margin-top: 32px;
    margin-left: 30px;
    color: #2a2d32; }
    .content .content__section .content__header {
      margin-bottom: 43px;
      font-size: 24px; }
    .content .content__section .content__article {
      position: relative;
      margin-top: 30px; }
      .content .content__section .content__article .content__image {
        float: left;
        width: 150px;
        height: 150px; }
      .content .content__section .content__article .content__image--im1 {
        background-image: url(../img/pic0.jpg); }
      .content .content__section .content__article .content__image--im2 {
        background-image: url(../img/pic1.jpg); }
      .content .content__section .content__article .date {
        position: absolute;
        width: 40px;
        top: 12px;
        left: -16px;
        font-size: 18px;
        line-height: 40px;
        text-align: center; }
        .content .content__section .content__article .date .date__month {
          color: #fff;
          background-color: #248cec; }
        .content .content__section .content__article .date .date__day {
          color: #2a2b2e;
          background-color: #ffb400; }
      .content .content__section .content__article .content__art-body {
        float: left;
        width: 380px;
        margin-left: 35px;
        font-family: Arial, sans-serif;
        font-size: 13px; }
        .content .content__section .content__article .content__art-body .content__art-header {
          margin: 5px 0;
          font-family: Ubuntu, sans-serif;
          font-size: 16px; }
        .content .content__section .content__article .content__art-body .content__art-header:hover {
          color: #248cec;
          cursor: pointer; }
        .content .content__section .content__article .content__art-body .content__art-info {
          color: #9d9d9d; }
          .content .content__section .content__article .content__art-body .content__art-info a {
            color: #0187f4;
            text-decoration: none; }
        .content .content__section .content__article .content__art-body .content__art-text {
          margin-top: 27px;
          color: #8a8a8a;
          line-height: 20px; }
  .content .content__section--s1 {
    width: 570px;
    margin-left: 0; }
  .content .content__section--s2 {
    width: 560px; }

.accordeon ul {
  list-style: none; }

.accordeon .accordeon__item {
  overflow: hidden;
  font-family: Ubuntu, sans-serif;
  font-size: 13px; }
  .accordeon .accordeon__item .accordeon__item-header {
    position: relative;
    height: 37px;
    margin-bottom: 8px;
    color: #2a2d32;
    background-color: #fff;
    text-transform: uppercase;
    line-height: 37px; }
    .accordeon .accordeon__item .accordeon__item-header .accordeon__item-mark {
      content: '+';
      box-sizing: border-box;
      display: inline-block;
      width: 40px;
      border: 1px solid #e8e8e8;
      text-align: center;
      font-size: 24px;
      cursor: pointer; }
    .accordeon .accordeon__item .accordeon__item-header .accordeon__item-hdr-text {
      position: absolute;
      box-sizing: border-box;
      left: 39px;
      right: 0;
      padding-left: 14px;
      border: 1px solid #e8e8e8; }
  .accordeon .accordeon__item .accordeon__item-content {
    box-sizing: border-box;
    visibility: hidden;
    height: 0px;
    margin: -20px 0 -35px 0;
    padding: 20px 2px 35px 39px;
    color: #8a8a8a;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    transition: all 300ms linear 0s; }

.accordeon .accordeon__item--expanded .accordeon__item-header {
  color: #fff;
  background-color: #ffb400; }
  .accordeon .accordeon__item--expanded .accordeon__item-header .accordeon__item-mark {
    content: '-';
    border: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .accordeon .accordeon__item--expanded .accordeon__item-header .accordeon__item-hdr-text {
    border: 0; }

.accordeon .accordeon__item--expanded .accordeon__item-content {
  visibility: visible;
  height: auto;
  margin: 0;
  transition: all 300ms linear 0s; }

.logos {
  width: 1160px;
  margin: 26px auto; }
  .logos .logos-list {
    list-style: none;
    margin: 86px 0 90px -48px; }
    .logos .logos-list .logos__item {
      display: inline-block;
      margin-left: 48px; }
    .logos .logos-list .logos__item a {
      display: inline-block;
      width: 143px;
      height: 61px;
      background-image: url("../img/sprite.png"); }
    .logos .logos-list .logos__item--i1 a {
      background-position: 0 -36px; }
    .logos .logos-list .logos__item--i2 a {
      background-position: -143px -36px; }
    .logos .logos-list .logos__item--i3 a {
      width: 177px;
      background-position: -715px -36px; }
    .logos .logos-list .logos__item--i4 a {
      background-position: -572px -36px; }
    .logos .logos-list .logos__item--i5 a {
      background-position: -429px -36px; }
    .logos .logos-list .logos__item--i6 a {
      background-position: -286px -36px; }

.links-row {
  color: #fff;
  background-color: #2a2d32;
  font-family: Ubuntu, sans-serif;
  font-weight: 500; }
  .links-row .links {
    width: 1160px;
    margin: 26px auto;
    margin-bottom: 0;
    padding-bottom: 70px; }
    .links-row .links .links__column {
      float: left;
      width: 22.75%; }
      .links-row .links .links__column .links__header {
        margin: 59px 0 34px 0;
        font-size: 16px; }
      .links-row .links .links__column ul {
        overflow: hidden;
        margin-bottom: -1px; }
      .links-row .links .links__column .links__item {
        padding-left: 3px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 35px; }
        .links-row .links .links__column .links__item a {
          color: #828385;
          text-decoration: none; }
        .links-row .links .links__column .links__item a:hover {
          color: #248cec; }
      .links-row .links .links__column .links__item:not(:last-child) {
        border-bottom: 1px solid rgba(247, 247, 247, 0.07); }
    .links-row .links .links__column:not(:first-child) {
      margin-left: 3%; }

.contacts-row {
  background-color: #35383c; }
  .contacts-row .contacts {
    width: 1160px;
    margin: 26px auto;
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.2);
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 62px; }
    .contacts-row .contacts .contacts__item {
      margin-right: 44px; }
      .contacts-row .contacts .contacts__item a {
        color: inherit;
        text-decoration: none; }
    .contacts-row .contacts .contacts__item:before {
      content: "";
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      top: 3px;
      left: -5px;
      background-image: url("../img/sprite.png"); }
    .contacts-row .contacts .contacts__location:before {
      background-position: -80px 0; }
    .contacts-row .contacts .contacts__phone:before {
      background-position: -96px 0; }
    .contacts-row .contacts .contacts__email:before {
      background-position: -112px 0; }
    .contacts-row .contacts .contacts__copyright {
      float: right; }
