h2 {
    text-align: center;
}

.main-menu {
    padding: 10px 0;
    background-color: rgb(255,100,100);
}

.horizontal-menu {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu a {
    display: block;
    height: 40px;
    margin: 0 12px;
    padding: 0 12px;
    font-family: Verdana, sans-serif;
    color: white;
    line-height: 40px;
    text-decoration: none;
}

.main-menu a:hover {
    color: black;
}

.horizontal-menu a {
    font-size: 18px;
}

.dropdown {
    position: relative;
}

.dropdown > a:after {
    content: " \25BE";
}

.submenu {
    display: none;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 200px;
    padding: 0 10px;
    background-color: #000;
    z-index: 1;
}

.submenu a {
    font-size: 14px;
}

.submenu>li {
    display: block;
    border-bottom: 1px solid rgb(200, 50, 50);
}
.submenu>li:last-child {
    border-bottom: 0;
}

.dropdown .dropdown > a:after {
    content: " \25B8";
    position: absolute;
    right: 0;
}

.dropdown .dropdown > ul {
    left: 200px;
    top: 0px;
}

.car-wrapper, .sel-wrapper, .cb-wrapper {
    position: relative;
    margin: 20px auto;
    width: 640px;
    height: 480px;
    border: 10px solid #FF8;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 gray;
}

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    position: relative;
    width: 20000em;

    /* Optional, required in this case since it's a <ul> element */
    margin: 0;
    padding: 0;
    list-style: none;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 200px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: #262;
    color: white;
    font: 24px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    text-align: center;
    box-shadow: 0 0 2px 0 gray;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    margin-top: -30px;
    text-align: center;
}

.jcarousel-pagination a {
    display: inline-block;
    min-width: 14px;
    margin-right: 5px;
    padding: 3px;
    border-radius: 14px;
    background: #fff;
    line-height: 14px;
    color: #4E443C;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    opacity: .75;
}

.jcarousel-pagination a.active {
    position: relative;
    background: #4E443C;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
    opacity: 1;
}

/* Random Button */
.jcarousel-random {
    display: inline-block;
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 3px;
    border-radius: 14px;
    background: #fff;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #4E443C;
    opacity: .75;
}

.sel-wrapper {
    height: 50px;
}

.sel-wrapper .cusel {
    width: 180px !important;
    margin: 12px 230px;
}

/* Checkbox */
.cb-wrapper {
    height: 160px;
    padding-top: 10px;
}

.customCheckBox {
    margin: 5px 10px;
}

.customCheckBox-css {
    margin: 2px 10px;
}

.niceCheck {
    display: inline-block;
    overflow: hidden;
	width: 17px;
	height: 17px;
	background: url(../img/checkbox-sprite.png);
    background-repeat: no-repeat;
    vertical-align: top;
    cursor: pointer;
}
.customCheckBox label{
    padding-right: 5px;
    cursor: pointer;
}
.niceChecked {
	background-position: 0 -17px;
}
.niceCheck input {
	margin-left: -100px; /* можно задать побольше чтобы наверняка скрыть поле */
}
.niceCheckDisabled {
    background-position: 0 -34px;
    cursor: default;
}

/* Чекбокс через css */
.check-css[type=checkbox] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
.check-css+label {
	cursor: pointer;
}
.check-css+label:before {
	content: " ";
    position: relative;
	display: inline-block;
    top: 3px;
	width: 17px;
	height: 17px;
    margin-right: 5px;
	background: url(../img/checkbox-sprite.png);
}
.check-css[type=checkbox]:checked + label:before {
    background-position: 0 -17px;
}
.check-css[type=checkbox]:disabled + label:before {
    background-position: 0 -34px;
    cursor: default;
}
